{% extends "PM/base.html" %}

{% block header %}
<h1>Deletion Confirm</h1>
{% endblock header %}

{% block content %}
<h3>
You will delete the project:</h3><div class="text" style="text-align:center;"><h1><font color="red">{{ project.name }}</font></h1></div>

<h3>Are you sure?</h3>


<form action="{% url 'PM:del_project' project.id %}" method="post">
  {% csrf_token %}
  <input class="btn btn-danger" type="submit" value="delete">
  <a href="{% url 'PM:projects' %}" method='get' class="btn btn-primary" role="button">cancel</a>
</form>
{% endblock content %}
