{% extends "PM/base.html" %}

{% block header %}
<h1>Add new project</h1>
{% endblock header %}

{% block content %}

<form action="{% url 'PM:new_project' %}" method="post" name="new_project">
  {% csrf_token %}
  <p><span>Project Name:</span><input type="text" name="name"></p>
  <p><span>Author:</span><input type="text" name="author"></p>
  <p><span>Deadline:</span><input type="text" name="year">/<input type="text" name="month">/<input type="text" name="day"></p>
  <input type="submit" value="add">
</form>
<form action="{% url 'PM:projects' %}" method='get'>
  {% csrf_token %}
  <button>cancel</button>
</form>

{% endblock content %}
