{% extends "PM/base.html" %}
{% load bootstrap3 %}

{% block header %}
<h1>Add new project</h1>
{% endblock header %}

{% block content %}

<form action="{% url 'PM:new_project' %}" method="post" name="new_project" class="form">
  {% csrf_token %}
  <p><span>Project Name:</span><input type="text" name="name"></p>
  <p><span>Author:</span><input type="text" name="author"></p>
  <p><span>Deadline:</span><input type="date" name="year"></p>
<div style="float:left;">
  <button name="submit" class="btn btn-primary">add</button>
  <a href="{% url 'PM:projects' %}" class="btn btn-primary" role="button">cancel</a>
</div>
</form>

{% endblock content %}
