{% extends "PM/base.html" %}

{% block content %}

<h1>Projects</h1>
<form action="{% url 'PM:new_project' %}" method='get'>
  {% csrf_token %}
  <button name="submit">add project</button>
</form>
<table>
  <tr>
    <td>Project Name</td>
    <td>Author</td>
    <td>Deadline</td>
    <td>State</td>
    <td>Date_added|Date_finished</td>
    <td>Opration</td>
  </tr>
{% for project in projects %}
  <tr>
    <td>{{ project.name }}</td>
    <td>{{ project.author }}</td>
    <td>{{ project.year }}/{{ project.month }}/{{ project.day }}</td>
    <td>{{ project.state }}</td>
    <td>{{ project.finished_time|date:'M d, Y H:i' }}</td>
    
    <td><a href="{% url 'PM:finished' project.id %}">finished</a>/<a href="{% url 'PM:renew_project' project.id %}">renew</a>/<a href="{% url 'PM:del_project' project.id %}">delete</a></td>
    <td>
    <script language="javascript">
      function del(){
        if(confirm("This project will be deleted, are you sure?")){
          window.location.href="{% url 'PM:del_project' project.id %}";
          }
        }
      function finished(){
        window.location.href="{% url 'PM:finished' project.id %}";
      }
    </script>
    <form>
    <input type="button" value="delete" onclick="del()">
    <input type="button" value="finished" onclick="finished()">
    </form>
    </td>
  </tr>
{% endfor %}
</table>

{% endblock content %}
