{% extends "PM/base.html" %}

{% block header %}
<h1>Renew Project</h1>
{% endblock header %}

{% block content %}

<form action="{% url 'PM:renew_project' project.id %}" method="post" name="new_project">
  {% csrf_token %}
  <p><span>Project Name:</span><input type="text" name="name" value="{{ project.name }}"></p>
  <p><span>Author:</span><input type="text" name="author" value="{{ project.author }}"></p>
  <p><span>Deadline:</span><input type="date" name="year" value="{{ project.year }}"></p>

<div style="float:left;">
  <input class="btn btn-warning" type="submit" value="renew">
  <a href="{% url 'PM:projects' %}" method='get' class="btn btn-primary" role="button">cancel</a>
</div>
</form>

{% endblock content %}
