{% extends "PM/base.html" %}
{% load bootstrap3 %}

{% block header %}
<h1>Search Result</h1>
{% endblock header %}

{% block content %}

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>name</th>
        <th>author</th>
        <th>deadline</th>
        <th>state</th>
        <th>date_added</th>
        <th>date_finished</th>
        <th>operation</th>
      </tr>
    </thead>
    <tbody>

{% for project in projects %}
  <tr>
    <td>{{ project.name }}</td>
    <td>{{ project.author }}</td>
    <td>{{ project.year }}/{{ project.month }}/{{ project.day }}</td>
    <td>{{ project.state }}</td>
    <td>{{ project.date_add|date:'M d, Y H:i' }}</td>
    <td>{{ project.finished_time|date:'M d, Y H:i' }}</td>
    
    <td><a href="{% url 'PM:finished' project.id %}" class="btn btn-info" role="button">finished</a><a href="{% url 'PM:renew_project' project.id %}" class="btn btn-warning" role="button">renew</a><a href="{% url 'PM:del_project' project.id %}" class="btn btn-danger" role="button">delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock content %}
